<div class="block-exception">
    <div class="block-exception-detected clear-fix">
        <div class="error-text">
            <h2>Ooops!</h2>
            <h2>" ERROR {{ status_code }} "</h2>
        </div>
        <div class="text-exception">
            <h3>{{ exception.message}}</h3>
        </div>
    </div>
</div>