{% extends "benjBundle:Message:affiche_message.html.twig" %}

{% block message_button %}

    {% if message.messResponse == 'False' %}
        <div class="col-sm-3 col-sm-offset-5">
            <a class="btn btn-orange btn-lg btn-icon icon-left" href="{{ path('_response_message', {'id':message.id, 'gender':tab}) }}">
                <i class="entypo-pencil"></i>
                Response
            </a>
        </div>
    {% endif %}

{% endblock %}

{% block message_response %}
    {% if message.messResponse == 'True' %}
        
        <div class="panel panel-success" data-collapsed="0">

            <!-- panel head -->
            <div class="panel-heading">
                <div class="panel-title">
                    <h2>Response</h2>
                </div>
            </div>

            <!-- panel body -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- API Functions -->
                        <table class="table table-bordered">
                            <tbody>

                                <tr>
                                    <td>
                                        <h4>Subject</h4>
                                    </td>
                                    <td>
                                        <pre><h3>{{message.messResponseSubject}}</h3></pre>                                         
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Content</h4>
                                    </td>
                                    <td>
                                        <pre><h3>{{message.messResponseContent}}</h3></pre>                                         
                                    </td>
                                </tr>                              

                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>

        </div>

    {% endif %}
{% endblock %}

