{% extends "benjBundle:Advise:default_advise.html.twig" %}

{% block advise_response %}

    <div class="panel panel-danger" data-collapsed="0">

        <!-- panel head -->
        <div class="panel-heading">
            <div class="panel-title">
                <h2>Response to this comment</h2>
            </div>
        </div>

        <!-- panel body -->
        <div class="panel-body">
            <div class="row">
                <form role="form" class="form-horizontal form-groups-bordered validate" method="POST" action="{{ path('_response_advise', {'id':advises.id, 'tab':tab}) }}">
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-1">
                            <textarea class="form-control autogrow input-lg" data-validate="required" data-message-required="Please content is required." name="advise_responseContent" placeholder="Type Your Response Here" autocomplete="off"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-1">
                            <a href="{{ path('_admin_statistics', {'group':'advise', 'gender':tab}) }}" class="btn btn-info btn-lg btn-icon icon-left center-block">
                                <i class="entypo-back"></i>
                                Back to all {{tab}} advises
                            </a>
                        </div>

                        <div class="col-sm-3 col-sm-offset-4">
                            <button type="submit" class="btn btn-success btn-lg center-block col-lg-offset-3 btn-icon icon-left" data-error="Fix errors"><i class="entypo-check"></i>Send response</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
